.goButton {
  cursor: pointer;
  fill: #1e1e1e;
  animation: goButtonPulse 3s ease-in-out infinite;

  &:hover {
    fill: #8bf8ff;
  }
}

@keyframes goButtonPulse {
  0%,
  100% {
    fill: #1e1e1e;
  }
  50% {
    fill: #5e5e5e;
  }
}
