:root {
    /* 50s Colors */
    --fifties-main: ;
    --fifties-secondary: ;
    --fifties-accent: ;
    /* 60s Colors */
    --sixties-main: ;
    --sixties-secondary: ;
    --sixties-accent: ;
    /* 70s Colors */
    --seventies-main: ;
    --seventies-secondary: ;
    --seventies-accent: ;
    /* 80s Colors */
    --eighties-main: ;
    --eighties-secondary: ;
    --eighties-accent: ;
    /* 90s Colors */
    --nineties-main: ;
    --nineties-secondary: ;
    --nineties-accent: ;
    /* 2000s Colors */
    --thousands-main: ;
    --thousands-secondary: ;
    --thousands-accent: ;
    /* 2010s Colors */
    --tens-main: ;
    --tens-secondary: ;
    --tens-accent: ;
    /* 2020s Colors */
    --twenties-main: ;
    --twenties-secondary: ;
    --twenties-accent: ;
}

#slogan {
    font-family: "Montserrat", serif;
    font-size: 12px;
}