:root {
    /* Colors */
    --primary-color: ;
    --secondary-color: ;
    --accent-color: ;
    --text-color: ;
    /* Fonts */
    --heading-font: ;
    --body-font: ;
    --header-size: ;
    --title-size: ;
    --body-size: ;
    --weight: ;
    --stroke: ;
    --spacing: ;
    --line-height: ;
    /* Background Image */
    --background-image: ;
    --box-shadow: ;
}

html {
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-timing-function: ease-in;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Header and buttons */

header {
    width: 100%;
    height: auto;
    border-bottom: 0.5vw solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#header-section {
    width: 100%;
    padding: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

#logo-slogan {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    width: 40vw;
    height: auto;
}

#slogan {
    font-family: "Montserrat", serif;
    font-size: 2.5vw;
}

#button-container {
    width: 50%;
    padding-right: 2vw;
    display: flex;
    justify-content: flex-end;
}

#js-modal-trigger {
    width: 25vw;
    height: 6vw;
    border-radius: 1vw;
    font-size: 3vw;
    border: 0.15vw solid #525252;
}

#hat-container {
    position: relative;
}

.modal {
    border-color: ;
}

#modal-hat {
    position: absolute;
    max-width: 120%;
    max-height: 120%;
    top: -70px;
    right: 48px;
    transform: rotate(15deg);
    z-index: 1;
}

#modal-form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.modal-card {
    border-radius: 30px;
    overflow: visible;
}

.modal-card-head {
    border-bottom: 1px solid black;
    background-color: rgb(142, 142, 205);
}

.modal-card-title {
    font-size: 50px;
    color: coral;
    text-shadow: -1px 0 rgb(160, 157, 157), 0 1px whitesmoke, 1px 0 whitesmoke, 0 -1px whitesmoke;
}

#datepicker-instructions {
    font-size: x-large;
}

#datepicker {
    font-size: x-large;
    border-radius: 10px;
    margin: 10px;
}

#media {
    margin: 10px;
}

#datepicker:hover {
    background-color: #FCF7AD;
    cursor: pointer;
}

#choose-topic {
    font-size: x-large;
}


.dropdown-item {
    font-size: xx-large;
    margin: 5px;
}

#media {
    border: 2px solid black;
}

#media:hover {
    background-color: #FCF7AD;
}

/*General Cards */
#card-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: var(--background-image);
    background-size: cover;
}

.card {
    display: flex;
    justify-content: center;
    width: 80%;
    padding-bottom: 5vw;
    padding-top: 5vw;
    margin: 5vw;
    background-color: var(--primary-color);
    border: 0.5vw solid var(--secondary-color);
    border-radius: 2vw;
    box-shadow: var(--box-shadow);
}

.cardBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

/* Date Card */

.dateCard {
    display: flex;
    justify-content: center;
    width: 40%;
    padding-top: 0.5vw;
    margin: 3vw;
    background-color: var(--primary-color);
    border: 0.5vw solid var(--secondary-color);
    border-radius: 2vw;
    box-shadow: var(--box-shadow);
}

.dateHeader {
    font-family: var(--body-font);
    color: var(--accent-color);
    font-size: var(--header-size);
    text-align: center;
    font-weight: var(--weight);
    letter-spacing: var(--spacing);
    margin-bottom: -2vw;
}

.dateTitle {
    font-family: var(--heading-font);
    color: var(--text-color);
    width: 100%;
    font-size: var(--title-size);
    text-align: center;
    font-weight: var(--weight);
    -webkit-text-stroke: var(--stroke);
}

/* Movie Card */

.movieHeader {
    font-family: var(--body-font);
    color: var(--accent-color);
    font-size: var(--header-size);
    text-align: center;
    font-weight: var(--weight);
    letter-spacing: var(--spacing);
    width: 100%;
}

.movieTitle {
    font-family: var(--heading-font);
    color: var(--text-color);
    margin-top: 5vw;
    margin-bottom: 5vw;
    width: 95%;
    font-size: var(--title-size);
    font-weight: var(--weight);
    text-align: center;
    line-height: 7vw;
    -webkit-text-stroke: var(--stroke);
}

.movieDesc {
    font-family: var(--body-font);
    color: var(--accent-color);
    width: 85%;
    font-size: var(--body-size);
    text-indent: 5vw;
    text-align: start;
    font-weight: var(--weight);
    letter-spacing: var(--spacing);
}

.moviePoster {
    display: flex;
    justify-content: center;
    border: 0.5vw solid var(--secondary-color);
    width: 85%;
    height: auto;
    margin-top: 8vw;
}

/* Book Card */
.bookHeader {
    font-family: var(--body-font);
    color: var(--accent-color);
    font-size: var(--header-size);
    text-align: center;
    font-weight: var(--weight);
    letter-spacing: var(--spacing);
    width: 100%;
}

.bookTitle {
    font-family: var(--heading-font);
    color: var(--text-color);
    margin-top: 5vw;
    margin-bottom: 5vw;
    width: 95%;
    font-size: var(--title-size);
    font-weight: var(--weight);
    text-align: center;
    line-height: 7vw;
    -webkit-text-stroke: var(--stroke);
}

.bookAuthor {
    font-family: var(--body-font);
    color: var(--accent-color);
    font-size: var(--header-size);
    text-align: center;
    font-weight: var(--weight);
    letter-spacing: var(--spacing);
    width: 100%;
}

.bookDesc {
    font-family: var(--body-font);
    color: var(--accent-color);
    width: 85%;
    font-size: var(--body-size);
    text-indent: 5vw;
    text-align: start;
    font-weight: var(--weight);
    letter-spacing: var(--spacing);
}

.bookImage {
    display: flex;
    justify-content: center;
    border: 0.5vw solid var(--secondary-color);
    width: 85%;
    height: auto;
    margin-top: 8vw;
}

/* News Card */
.articleHeader {
    font-family: var(--body-font);
    color: var(--accent-color);
    font-size: var(--header-size);
    text-align: center;
    font-weight: var(--weight);
    letter-spacing: var(--spacing);
    width: 100%;
}

.articleTitle {
    font-family: var(--heading-font);
    color: var(--text-color);
    margin-top: 5vw;
    margin-bottom: 5vw;
    width: 95%;
    font-size: var(--title-size);
    font-weight: var(--weight);
    text-align: center;
    line-height: 7vw;
    -webkit-text-stroke: var(--stroke);
}

.articleAuthor {
    font-family: var(--body-font);
    color: var(--accent-color);
    font-size: var(--header-size);
    text-align: center;
    font-weight: var(--weight);
    letter-spacing: var(--spacing);
    width: 100%;
}

.articleDesc {
    font-family: var(--body-font);
    color: var(--accent-color);
    width: 85%;
    font-size: var(--body-size);
    text-indent: 5vw;
    text-align: start;
    font-weight: var(--weight);
    letter-spacing: var(--spacing);
}

.articleImage {
    display: flex;
    justify-content: center;
    border: 0.5vw solid var(--secondary-color);
    width: 85%;
    height: auto;
    margin-top: 8vw;
}