:root {
    /* Colors */
    --primary-color: ;
    --secondary-color: ;
    --accent-color: ;
    --text-color: ;
    --background-color: ;
    /* Fonts */
    --heading: ;
    --body: ;
}

#slogan {
    font-family: "Montserrat", serif;
    font-size: 12px;
}

