.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100dvh;

  overflow-y: hidden;
  overflow-x: scroll;

  padding: 10dvh;
  gap: 10dvh;

  background-position: top;
  background-repeat: repeat-y;
  background-size: 100% auto;
}
