.ULScrew {
    background-image: conic-gradient(from 19grad, #E5F0F3 0grad, 65grad, #757D89 88grad, 101grad, #535A68 117grad, 154grad, #3D4559 220grad, 273grad, #5F6B7D 296grad, 309grad, #6E7C92 322grad, 346grad, #E5F0F3 400grad);
    filter: drop-shadow(-.25rem .9rem .2rem #00000080);
    border-radius: 50%;
    z-index: -5;
}

.URScrew {
    background-image: conic-gradient(from 398grad, #E5F0F3 0grad, 65grad, #757D89 88grad, 101grad, #535A68 117grad, 154grad, #3D4559 220grad, 260grad, #5F6B7D 276grad, 292grad, #6E7C92 307grad, 340grad, #E5F0F3 400grad);
    filter: drop-shadow(.15rem .9rem .2rem #00000080);
}

.LLScrew {
    background-image: conic-gradient(from 8grad, #A8BBC0 0grad, 46grad, #757D89 73grad, 87grad, #3D414A 104grad, 127grad, #292E3A 220grad, 277grad, #4E5662 292grad, 311grad, #6E7C92 330grad, 359grad, #A8BBC0 400grad);
    filter: drop-shadow(0 1rem .3rem #00000099);
}

.LRScrew {
    background-image: conic-gradient(from 398grad, #A8BBC0 0grad, 65grad, #757D89 88grad, 101grad, #3D414A 117grad, 154grad, #292E3A 220grad, 270grad, #4E5662 292grad, 304grad, #6E7C92 317grad, 345grad, #A8BBC0 400grad);
    filter: drop-shadow(0 1rem .3rem #00000099);
}

div.container {
    height: 100dvh;
    width: 100dvw;

    background-color: black;

    overflow: hidden;
    
    display: flex;
    
    > div.controlPanel {
        width: 20%;
        z-index: 10;
    
        
        > div.controlPanelFlex {
            margin-right: 21.875%;
            display: flex;
            flex-direction: column;
            align-items: center;

            > * {
                max-width: 70%;
            }

            > div.namePlate {
                margin-top: 32px;
            }
            > div.goButton {
                max-width: 120px;
            }

            > div.datePicker {
                margin-top: 32px;
                max-width: 175px;
            }

            > div.randomButton {
                margin-top: 32px;
                max-width: 90px;
            }
        }
    }
}

svg.controlPanelBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    z-index: 0;
}

svg.doorPanelBackground {
    position: absolute;
    top: 0;
    left: 20%;
    width: 80%;
    z-index: 0;
}