div.container {
    height: 100dvh;
    width: 100dvw;

    > div.controlPanel {
        position: fixed;
        left: 0;
        top: 0;
        width: 20%;
        height: 100dvh;
        overflow: hidden;
        z-index: 10;
    }

    > div.content {
        position: absolute;
        left: 20%;
        top: 0;
        width: 80%;
        min-height: 100dvh;
        z-index: 9;
    }
}