div.container {
  height: 100dvh;
  width: 100dvw;

  > div.controlPanel {
    position: fixed;
    left: 0;
    top: 0;
    height: 100dvh;
    overflow: hidden;
    z-index: 10;

    width: var(--control-panel-width);
  }

  > div.content {
    position: absolute;
    left: var(--control-panel-width);
    top: 0;
    width: calc(100% - var(--control-panel-width));
    min-height: 100dvh;
    overflow-x: hidden;
    z-index: 9;
  }
}
