div.doorContainer {
  @apply absolute top-0 left-0 h-full w-full z-10 overflow-hidden;

  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;

  &.open {
    animation-duration: 2s;
    animation-name: slide-out;
  }

  &.close {
    animation-duration: 3s;
    animation-name: slide-in;
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0);
  }
  99% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(100%);
    display: none;
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
    display: none;
  }
  1% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
