@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* ======================== */
  /* control panel layout     */
  /* ======================== */
  .control-panel-controls-container {
    @apply flex flex-col;
    width: 78.125%; /* this is fixed and based on the svg */
  }

  .control-panel-name-plate {
    @apply mt-[2dvh];
    @apply max-w-[70%] max-h-[8dvh] mx-auto;
  }

  .control-panel-go-button {
    @apply max-w-[40%] max-h-[12dvh] mx-auto mb-[1dvh];
  }

  .control-panel-date-picker {
    @apply max-w-[75%] max-h-[62dvh] mx-auto mb-[1dvh];
  }

  .control-panel-random-button {
    @apply max-w-[30%] max-h-[8dvh] mx-auto;
  }

  .control-panel-buttons-container {
    width: 21.875%; /* this is fixed and based on the svg */
  }

  .button-panel {
    @apply h-dvh flex flex-col items-center justify-evenly;
    @apply py-[10dvh] pr-[1dvh] pl-[0.8dvh];
  }

  /* ======================== */
  /* control panel styles     */
  /* ======================== */

  .control-panel-name-plate-svg {
    @apply cursor-pointer;
    @apply fill-[#84919a] hover:fill-[#a7dfe3];
    filter: drop-shadow(0 0.3dvh 0.2dvh #00000099);
  }

  .control-panel-go-button-svg {
    @apply fill-[#1e1e1e] hover:fill-[#8bf8ff];
    @apply cursor-pointer;
    animation: goButtonPulse 3s ease-in-out infinite;
    @apply hover:animate-none;
  }

  .control-panel-date-picker-svg {
    .dateText {
      @apply font-normal text-right font-oxanium;
      @apply fill-[#8bf8ff] text-[34px];
    }

    .arrows {
      @apply cursor-pointer;
      @apply fill-[#8bf8ff] hover:fill-[#00cddb];

      &.disabled {
        @apply fill-[#8bf8ff55];
      }
    }

    .vertical-lines {
      @apply fill-[#8bf8ff];
      animation: linePulse 3s ease-in-out infinite;
    }
  }

  .control-panel-random-button-svg {
    @apply cursor-pointer;
    @apply fill-[#1e1e1e] hover:fill-[#8bf8ff];
  }

  .button-panel-base-button-svg {
    @apply cursor-pointer;
    @apply fill-[#1e2023] hover:fill-[#8bf8ff];

    &.active {
      @apply fill-[#c0fbff];
    }
  }

  /* ======================== */
  /* section layout           */
  /* ======================== */
  .content-container {
    @apply bg-top bg-repeat-y bg-[length:100%_auto];
    @apply p-[3dvh];
    @apply gap-[3dvh];
  }

  .section-container {
    @apply min-w-full h-full;
    @apply flex gap-[3dvh] justify-around items-center;

    .card {
      @apply max-h-full;
      @apply border-solid border rounded;
      @apply p-[1vw];

      &.poster {
        @apply h-full;
        > img {
          @apply h-full;
          @apply border-solid border-inherit border-4;
        }
      }
    }
  }

  .newspaper {
    @apply max-h-[60dvh] mx-auto;
  }
}

/* ======================== */
/* font classes             */
/* ======================== */
.header-font-1950s {
  @apply font-carterOne;
}
.header-font-1960s {
  @apply font-spicyRice;
}
.header-font-1970s {
  @apply font-bungeeShade;
}
.header-font-1980s {
  @apply font-monoton;
}
.header-font-1990s {
  @apply font-gluten;
}
.header-font-2000s {
  @apply font-cuteFont;
}
.header-font-2010s {
  @apply font-dmSans;
}
.header-font-2020s {
  @apply font-poppins;
}

.body-font-1950s {
  @apply font-truculenta;
}
.body-font-1960s {
  @apply font-lifeSavers;
}
.body-font-1970s {
  @apply font-michroma;
}
.body-font-1980s {
  @apply font-orbitron;
}
.body-font-1990s {
  @apply font-comicNeue;
}
.body-font-2000s {
  @apply font-jura;
}
.body-font-2010s {
  @apply font-lato;
}
.body-font-2020s {
  @apply font-montserrat;
}

/* background color classes */
.background-1950s {
  @apply bg-p1950s;
}
.background-1960s {
  @apply bg-p1960s;
}
.background-1970s {
  @apply bg-p1970s;
}
.background-1980s {
  @apply bg-p1980s;
}
.background-1990s {
  @apply bg-p1990s;
}
.background-2000s {
  @apply bg-p2000s;
}
.background-2010s {
  @apply bg-p2010s;
}
.background-2020s {
  @apply bg-p2020s;
}

/* border color classes */
.border-1950s {
  @apply border-s1950s;
}
.border-1960s {
  @apply border-s1960s;
}
.border-1970s {
  @apply border-s1970s;
}
.border-1980s {
  @apply border-s1980s;
}
.border-1990s {
  @apply border-s1990s;
}
.border-2000s {
  @apply border-s2000s;
}
.border-2010s {
  @apply border-s2010s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.border-2020s {
  @apply border-s2020s;
}

.bf-1950s {
  @apply font-truculenta;
  @apply text-a1950s text-[2.5vw] tracking-[0.25vw];
  &.body {
    @apply text-[2vw];
  }
}
.bf-1960s {
  @apply font-lifeSavers;
  @apply text-a1960s text-[3.5vw] font-bold tracking-[0.25vw];
  &.body {
    @apply text-[3vw];
  }
}
.bf-1970s {
  @apply font-michroma;
  @apply text-a1970s text-[2.5vw] tracking-[0.25vw];
  &.body {
    @apply text-[2vw];
  }
}
.bf-1980s {
  @apply font-orbitron;
  @apply text-a1980s text-[3vw] tracking-[0.3vw];
  &.body {
    @apply text-[2.5vw];
  }
}
.bf-1990s {
  @apply font-comicNeue;
  @apply text-a1990s text-[3.5vw] tracking-[0.25vw];
  &.body {
    @apply text-[3vw];
  }
}
.bf-2000s {
  @apply font-jura;
  @apply text-a2000s text-[3.5vw] tracking-[0.25vw];
  &.body {
    @apply text-[3vw];
  }
}
.bf-2010s {
  @apply font-lato;
  @apply text-a2010s text-[3.5vw]; /* no tracking spec */
  &.body {
    @apply text-[3vw];
  }
}
.bf-2020s {
  @apply font-montserrat;
  @apply text-a2020s text-[3.5vw]; /* no tracking spec */
  &.body {
    @apply text-[3vw];
  }
}

.hf-1950s {
  @apply font-carterOne;
  @apply text-t1950s text-[4vw] tracking-[0.25vw];
}
.hf-1960s {
  @apply font-spicyRice;
  @apply text-t1960s text-[8vw] tracking-[0.25vw];
}
.hf-1970s {
  @apply font-bungeeShade;
  @apply text-t1970s text-[7vw] tracking-[0.25vw];
}
.hf-1980s {
  @apply font-monoton;
  @apply text-t1980s text-[8vw] tracking-[0.25vw];
}
.hf-1990s {
  @apply font-gluten;
  @apply text-t1990s text-[8vw] tracking-[0.25vw];
}
.hf-2000s {
  @apply font-cuteFont;
  @apply text-t2000s text-[8vw] tracking-[0.25vw];
}
.hf-2010s {
  @apply font-dmSans;
  @apply text-t2010s text-[8vw] font-bold tracking-[0.25vw];
}
.hf-2020s {
  @apply font-poppins;
  @apply text-t2020s text-[8vw] tracking-[0.25vw];
}

/* animations */
@keyframes goButtonPulse {
  0%,
  100% {
    fill: #1e1e1e;
  }
  50% {
    fill: #5e5e5e;
  }
}

@keyframes linePulse {
  0%,
  100% {
    fill: #c0fbff;
  }
  50% {
    fill: #8bf8ff;
  }
}
