@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* ======================== */
  /* control panel layout     */
  /* ======================== */
  .control-panel-controls-container {
    @apply flex flex-col;
    width: 78.125%; /* this is fixed and based on the svg */
  }

  .control-panel-name-plate {
    @apply mt-[2dvh];
    @apply max-w-[70%] max-h-[8dvh] mx-auto;
  }

  .control-panel-go-button {
    @apply max-w-[40%] max-h-[12dvh] mx-auto mb-[1dvh];
  }

  .control-panel-date-picker {
    @apply max-w-[75%] max-h-[62dvh] mx-auto mb-[1dvh];
  }

  .control-panel-random-button {
    @apply max-w-[30%] max-h-[8dvh] mx-auto;
  }

  .control-panel-buttons-container {
    width: 21.875%; /* this is fixed and based on the svg */
  }

  .button-panel {
    @apply h-dvh flex flex-col items-center justify-evenly;
    @apply py-[10dvh] pr-[1dvh] pl-[0.8dvh];
  }

  /* ======================== */
  /* control panel styles     */
  /* ======================== */

  .control-panel-name-plate-svg {
    @apply cursor-pointer;
    @apply fill-[#84919a] hover:fill-[#a7dfe3];
    filter: drop-shadow(0 0.3dvh 0.2dvh #00000099);
  }

  .control-panel-go-button-svg {
    @apply fill-[#1e1e1e] hover:fill-[#8bf8ff];
    @apply cursor-pointer;
    animation: goButtonPulse 3s ease-in-out infinite;
    @apply hover:animate-none;
  }

  .control-panel-date-picker-svg {
    .dateText {
      @apply font-normal text-right font-oxanium;
      @apply fill-[#8bf8ff] text-[34px];
    }

    .arrows {
      @apply cursor-pointer;
      @apply fill-[#8bf8ff] hover:fill-[#00cddb];

      &.disabled {
        @apply fill-[#8bf8ff55];
      }
    }

    .vertical-lines {
      @apply fill-[#8bf8ff];
      animation: linePulse 3s ease-in-out infinite;
    }
  }

  .control-panel-random-button-svg {
    @apply cursor-pointer;
    @apply fill-[#1e1e1e] hover:fill-[#8bf8ff];
  }

  .button-panel-base-button-svg {
    @apply cursor-pointer;
    @apply fill-[#1e2023] hover:fill-[#8bf8ff75];

    &.active {
      @apply fill-[#8bf8ff];
    }
  }

  /* ======================== */
  /* section layout           */
  /* ======================== */
  .content-container {
    @apply bg-top bg-repeat-y bg-[length:100%_auto];
    @apply px-[3dvh] py-[6dvh];
    @apply gap-[3dvh];
  }

  .section-container {
    @apply min-w-full h-full;
    @apply flex gap-[3dvh] justify-around items-center;

    &.landscape {
      @apply flex-col;

      .card {
        @apply max-h-none;
        @apply flex justify-around items-center gap-[3dvw];
      }
    }

    .card {
      @apply max-h-full max-w-full;
      @apply border-solid border rounded;
      @apply p-[1vw];
      @apply break-words;
      @apply overflow-hidden;

      .top-text {
        @apply text-center text-[2.5dvh];
      }

      .title-text {
        @apply text-center text-[9dvh] leading-none my-[2dvh] text-pretty;
      }

      .subtitle-text {
        @apply text-center text-[2.5dvh] mb-[2dvh] italic;
      }

      .body-text {
        @apply text-center text-[2.5dvh] text-pretty;
      }

      &.poster {
        @apply h-full;
        > img {
          @apply h-full;
          @apply border-solid border-inherit border-thin border-black;
        }
      }
    }
  }
}

/* ======================== */
/* font classes             */
/* ======================== */
.header-font-1950s {
  @apply font-carterOne text-h1950s;
}
.header-font-1960s {
  @apply font-spicyRice text-h1960s;
}
.header-font-1970s {
  @apply font-bungeeShade text-h1970s;
}
.header-font-1980s {
  @apply font-monoton text-h1980s;
}
.header-font-1990s {
  @apply font-gluten text-h1990s;
}
.header-font-2000s {
  @apply font-cuteFont text-h2000s;
}
.header-font-2010s {
  @apply font-dmSans text-h2010s;
}
.header-font-2020s {
  @apply font-poppins text-h2020s;
}
.header-font-2030s {
  @apply font-['Papyrus'] text-h2030s;
}

.body-font-1950s {
  @apply font-truculenta text-t1950s;
}
.body-font-1960s {
  @apply font-lifeSavers text-t1960s;
}
.body-font-1970s {
  @apply font-michroma text-t1970s;
}
.body-font-1980s {
  @apply font-orbitron text-t1980s;
}
.body-font-1990s {
  @apply font-comicNeue text-t1990s;
}
.body-font-2000s {
  @apply font-jura text-t2000s;
}
.body-font-2010s {
  @apply font-lato text-t2010s;
}
.body-font-2020s {
  @apply font-montserrat text-t2020s;
}
.body-font-2030s {
  @apply font-['Comic_Sans_MS'] text-t2030s;
}

/* background color classes */
.background-1950s {
  @apply bg-bg1950s;
}
.background-1960s {
  @apply bg-bg1960s;
}
.background-1970s {
  @apply bg-bg1970s;
}
.background-1980s {
  @apply bg-bg1980s;
}
.background-1990s {
  @apply bg-bg1990s;
}
.background-2000s {
  @apply bg-bg2000s;
}
.background-2010s {
  @apply bg-bg2010s;
}
.background-2020s {
  @apply bg-bg2020s;
}
.background-2030s {
  @apply bg-bg2030s;
}

/* border color classes */
.border-1950s {
  @apply border-b1950s;
}
.border-1960s {
  @apply border-b1960s;
}
.border-1970s {
  @apply border-b1970s;
}
.border-1980s {
  @apply border-b1980s;
}
.border-1990s {
  @apply border-b1990s;
}
.border-2000s {
  @apply border-b2000s;
}
.border-2010s {
  @apply border-b2010s;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
}
.border-2020s {
  @apply border-b2020s;
}
.border-2030s {
  @apply border-b2030s;
}

/* animations */
@keyframes goButtonPulse {
  0%,
  100% {
    fill: #1e1e1e;
  }
  50% {
    fill: #5e5e5e;
  }
}

@keyframes linePulse {
  0%,
  100% {
    fill: #c0fbff;
  }
  50% {
    fill: #8bf8ff;
  }
}
