.controlPanel {
  display: flex;

  > .mainPanel {
    /* first section of the control panel, leading edge till gradient */
    width: 78.125%;

    /* centerized column */
    display: flex;
    flex-direction: column;
    align-content: center;

    padding: 2dvh;

    /* components max widths */
    > .namePlate {
      max-width: 70%;
      max-height: 8dvh;
      margin: 0 auto;
    }

    > .goButton {
      max-width: 40%;
      max-height: 12dvh;
      margin: 0 auto 1dvh;
    }

    > .datePicker {
      max-width: 75%;
      max-height: 62dvh;
      margin: 0 auto 1dvh;
    }

    > .randomButton {
      max-width: 30%;
      max-height: 8dvh;
      margin: 0 auto;
    }
  }

  > .buttonPanel {
    /* second section of the control panel, gradient till trailing edge */
    width: 21.875%;
  }
}
