.dateText {
  font-family: "Oxanium", sans-serif;
  font-weight: 400;
  text-align: right;
  fill: #8bf8ff;
  font-size: 34px;
}

.arrows {
  cursor: pointer;
  fill: #8bf8ff;

  &:hover {
    fill: #00cddb;
  }

  &.disabled {
    fill: #8bf8ff55;
  }
}

.lineGroup {
  fill: #c0fbff;
  animation: detailPulse 3s ease-in-out infinite;
}

@keyframes detailPulse {
  0%,
  100% {
    fill: #c0fbff;
  }
  50% {
    fill: #8bf8ff;
  }
}
